#gallery {
    background: #413fb5;
}

img {
    width: 300px;
    height: 200px;
    margin: 30px;
}

.bg {
    background-color: #D0D07D;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.lb-container img {
    margin-left: 0;
}